<p id="notice"><%= notice %></p>

<p>
  <strong>Faculty:</strong>
  <%= @faculty_subject.faculty_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @faculty_subject.subject_id %>
</p>

<%= link_to 'Edit', edit_faculty_subject_path(@faculty_subject) %> |
<%= link_to 'Back', faculty_subjects_path %>
